<h1>Flights</h1>
<p>The best place to find one-way flights!</p>
<div>
<%= form_with method: :get do |f| %>
    <%= f.label :departure_airports %>
    <%= f.collection_select :departure_airport, Airport.all, :code, :name %>
    <br>
    <%= f.label :arriving_airports %>
    <%= f.collection_select :arriving_airport, Airport.all, :code, :name %>
    <br>
    <%= f.label :number_of_passengers %>
    <%= f.select :number_of_passengers, [1,2,3,4] %>
    <br>
    <%= f.label :departure_time %>
    <%= f.date_select :departure_time %>
    <div>(Flights only take place on April 1st, 2025)</div>
    <br>
    <%= f.submit :search %>
<% end %>
</div>
<br>
<div>
<% if @flights.any? %>
    <%= form_with do |f| %>
        <div class="flights">
            <%= f.collection_radio_buttons :flight_id, @flights, :id, :format_flight_info %>
        </div>
        <%= f.submit :submit %>
    <% end %>
<% end if %>
</div>