<h1>Booking</h1>
<div>    
    <h2>Flight Information</h2>
    <p>Departure Airport: <%= @flight.departure_airport.name %></p>
    <p>Arriving Airport: <%= @flight.arriving_airport.name %></p>
    <p>Departure Time: <%= @flight.start %></p>
</div>
<div>
    <h2>Passenger Information</h2>
    <% @passengers.each_with_index do |passenger, index| %>
        <h3>Passenger <%= index + 1 %></h3>
        <p>Name: <%= passenger.name %></p>
        <p>Email: <%= passenger.email %></p>
    <% end %>
</div>